---
import Navigation from "./Navigation.astro";
import Container from "../ui/Container.astro";
import { Image } from "astro:assets";
import logoIcon from "../../assets/images/logo_icon.png";
---

<header class="header" role="banner">
  <Container>
    <div class="header__inner">
      <a href="/" class="header__logo" aria-label="Home">
        <Image src={logoIcon} alt="site logo" width="120" height="40" loading={"eager"}/>
      </a>
      <Navigation />
    </div>
  </Container>
</header>

<style lang="scss">
  @use "../../styles/abstracts" as *;

  .header {
    position: sticky;
    top: 0;
    z-index: var(--z-index-sticky);
    background-color: var(--color-black);
    box-shadow: var(--shadow-sm);

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 4rem;

      @include media-up("lg") {
        min-height: 5rem;
      }
    }

    &__logo {
      display: flex;
      align-items: center;
      text-decoration: none;

      & > img {
        height: 60px;
        object-fit: contain;
      }

      &:focus-visible {
        @include focus-visible;
      }
    }
  }
</style>
