---
import Navigation from "./Navigation.astro";
import Container from "../ui/Container.astro";
import { Image } from "astro:assets";
import logoIcon from "../../assets/images/logo_icon.png";
---

<header class="header" role="banner" data-transparent="true">
  <Container>
    <div class="header__inner">
      <a href="/" class="header__logo" aria-label="Home">
        <Image src={logoIcon} alt="site logo" width="120" height="40" loading={"eager"}/>
      </a>
      <Navigation />
    </div>
  </Container>
</header>

<style lang="scss">
  @use "../../styles/abstracts" as *;

  $header-color: var(--color-black);

  $header-height: var(--header-height-base);
  $header-height-mobile: var(--header-height-sm);

  $header-logo-height: var(--header-height-base);
  $header-logo-height-mobile: var(--header-height-sm);
  $header-logo-padding: var(--space-4) 0;

  .header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: var(--z-index-sticky);
    background-color: var(--color-header-bg);
    box-shadow: var(--shadow-sm);
    transition: var(--transition-base);

    &.header-transparent {
      @include media-up($mobile-breakpoint) {
        background-color: transparent;
        box-shadow: none;
      }
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $header-height-mobile;
      transition: var(--transition-base);

      @include media-up("lg") {
        height: $header-height;
      }
    }

    &__logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: var(--space-2);

      & > img {
        width: auto;
        height: $header-logo-height-mobile;
        object-fit: contain;
        padding: $header-logo-padding;
        transition: var(--transition-base);

        @include media-up("lg") {
          height: $header-logo-height;
        }
      }

      &:focus-visible {
        @include focus-visible;
      }
    }
  }
</style>

<script>
  // Handle header appearance on scroll
  const header = document.querySelector('header');
  
  if (header && header.getAttribute('data-transparent') === 'true') {
    const handleScroll = () => {
      if(header == null) return;
      
        if (window.scrollY > 50) {
            header.classList.remove('header-transparent');
        } else {
            header.classList.add('header-transparent');
        }
    };
    
    // Initial check in case page is refreshed while scrolled
    handleScroll();
    
    // Add scroll event listener for header
    window.addEventListener('scroll', handleScroll);
  }
</script>